@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("/assets/fonts/poppins-black-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-black-webfont.woff") format("woff");
}

body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/Barcelona.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1200px;
  padding: 120px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 4px;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #272044;
}

.hero h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  color: white;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.3;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #272044;
}

h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
}

.hero p {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: white;
}

.hero button {
  border-radius: 4px;
  color: #272044;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border: none;
}

.grid-intro {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 80px;
}

.grid-intro img {
  width: 400px;
}

.description {
  margin-top: 25px;
}

.description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sagrada-familia {
  width: 150px;
}

.card-1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.park-guell {
  width: 200px;
  padding-bottom: 25px;
}

footer {
  text-align: center;
}
