@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("/assets/fonts/poppins-black-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins-black-webfont.woff") format("woff");
}

body {
  font-family: "Poppins", sans-serif;
  background: #dfd8f1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.grid {
  display: grid;
  gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  width: 100%;
  display: block;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/Barcelona.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 200px 0;
  border-radius: 4px;
  margin-bottom: 40px;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

.hero h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

.hero p {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

.hero a {
  border-radius: 4px;
  color: #272044;
  background: white;
  padding: 16px 32px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.introduction {
  margin-top: 50px;
}

main {
  background-color: #f3f3f3;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #200567;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #200567;
  opacity: 0.3;
  text-transform: uppercase;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #200567;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  color: #200567;
}

main .btn {
  background-color: #462cb2;
  color: white;
  padding: 16px 32px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  display: block;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.card {
  margin: 30px 0;
}

.card-header.grid {
  gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.gallery.grid {
  gap: 32px;
  margin-top: 32px;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/barcelona-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 0;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 12px;
  }

  .hero p {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  section {
    padding: 30px;
  }

  .introduction {
    margin: 0;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
